@charset "ISO-8859-1";
/*Start of navbar*/
.bg-light {
    background-color: #fcdb03!important;
}

/*End of navbar*/

/*Start of registration*/
.bg-dark {
    background-color: #dfe1e6!important;
}

container-in{
	background-color:red;
	
}

/*End of registration*/

/* Start of about us page */


/* End of about us page */

